/* ==========================================================================
   Section defaults
   ========================================================================== */

/* Site inner collapses if there isn't content
   ========================================================================== */

.flexible-page-with-sections {
	.site-inner {
		padding: 0;
	}
}

/* Structure
   ========================================================================== */

.page-template-page-flexible-content {
	.site-inner {
		// padding: 0;
		// max-width: 100%;

		.wrap {
			max-width: 1200px;
			width: 100%;

			@include tablet-section {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}
}

.flexible-content-page-builder {
	background-image: none !important;

	.section {
		padding-top: 100px;
		padding-bottom: 100px;
		background-color: white;
		position: relative;
		margin: 0;

		@include mobile-section {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		p:last-child {
			margin-bottom: 0;
		}

		ul:last-child {
			margin-bottom: 0;
		}

		li:last-child {
			margin-bottom: 0;
		}

		.wrap {
			position: relative;
			z-index: 10;

			@include mobile-section {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}

	.section:nth-of-type( odd ) {
		background-color: $light;
	}
}

/*
   Font defaults
   ========================================================================== */

.section {
	p {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	h1,
	h2,
	h3,
	h4 {
		padding: 0;
		line-height: 1em;
	}
}

/*
   Lists
   ========================================================================== */

.section {
	ol,
	ul {
		padding-left: 35px;

		&:last-child {
			margin-bottom: 0;
		}

		li {
			margin-bottom: 10px;
		}
	}

	ul li {
		list-style-type: disc;
	}

	ol li {
		list-style-type: upper-roman;
	}
}

/* Background image
   ========================================================================== */

.section.background-image {
	.background-div {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		background-size: cover;
		background-position: center center;
		filter: grayscale( 50% );

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba( black, 0.6 );
			z-index: 5;
		}
	}

	* {
		color: white;
	}
}

/* Dark section
   ========================================================================== */

.section.dark {
	background-color: #333 !important;

	* {
		color: white;
	}
}

.section.dark .background-div {
	background-image: none;
}

.section.dark .background-div::before {
	background-color: transparent;
}

/*
   Full-color
   ========================================================================== */

.section.full-color {
	.background-div {
		filter: grayscale( 0% );

		&::before {
			background-color: transparent;
		}
	}
}

/*
   Align-center
   ========================================================================== */

.section.align-center {
	text-align: center;
	@include mobile-section {
		text-align: left;
	}
}

/*
   Full-height
   ========================================================================== */

.section.full-height {
	@include desktop-section {
		height: 100vh;
		position: relative;

		.wrap {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate( -50%, -50% );
		}
	}
}

/*
   Limit-height
   ========================================================================== */

.section.limit-height {
	@include desktop-section {
		height: auto;
		position: static;

		.wrap {
			position: static;
			transform: translate( 0%, 0% );
		}
	}
}

/*
   Limit-width
   ========================================================================== */

.section.limit-width {
	&:not( .featured_content_carousel ) {
		.wrap {
			max-width: 600px;
		}
	}

	.featuredcontent {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
}
