.acf-fc-popup {
    ul {
        display: flex;
        flex-flow: row wrap;
        width: 600px;

        li {
            flex: 0 1 auto;
            width: 200px;

            a {
                &:hover {

                }
            }
        }
    }
}
