/* ==========================================================================
   Section defaults
   ========================================================================== */
/* Structure
   ========================================================================== */
.page-template-page-flexible-content .site-inner {
  padding: 0;
  max-width: 100%; }
  .page-template-page-flexible-content .site-inner .wrap {
    max-width: 1200px;
    width: 100%; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .page-template-page-flexible-content .site-inner .wrap {
        padding-left: 30px;
        padding-right: 30px; } }

.flexible-content-page-builder {
  background-image: none !important; }
  .flexible-content-page-builder .section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
    position: relative;
    margin: 0; }
    @media (max-width: 767px) {
      .flexible-content-page-builder .section {
        padding-top: 30px;
        padding-bottom: 30px; } }
    .flexible-content-page-builder .section p:last-child {
      margin-bottom: 0; }
    .flexible-content-page-builder .section ul:last-child {
      margin-bottom: 0; }
    .flexible-content-page-builder .section li:last-child {
      margin-bottom: 0; }
    .flexible-content-page-builder .section .wrap {
      position: relative;
      z-index: 10; }
      @media (max-width: 767px) {
        .flexible-content-page-builder .section .wrap {
          padding-left: 30px;
          padding-right: 30px; } }
  .flexible-content-page-builder .section:nth-of-type(odd) {
    background-color: #f1f1f1; }

/* Background image
   ========================================================================== */
.section.background-image .background-div, .section.background_rotator .slide .background-div {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-size: cover;
  background-position: center center;
  filter: grayscale(50%); }
  .section.background-image .background-div::before, .section.background_rotator .slide .background-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5; }

.section.background-image *, .section.background_rotator .slide * {
  color: white; }

/*
   Full-color
   ========================================================================== */
.section.full-color .background-div {
  filter: grayscale(0%); }
  .section.full-color .background-div::before {
    background-color: transparent; }

/*
   Align-center
   ========================================================================== */
.section.align-center {
  text-align: center; }
  @media (max-width: 767px) {
    .section.align-center {
      text-align: left; } }

/*
   Full-height
   ========================================================================== */
@media (min-width: 1200px) {
  .section.full-height {
    height: 100vh;
    position: relative; }
    .section.full-height .wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }

/*
   Limit-height
   ========================================================================== */
@media (min-width: 1200px) {
  .section.limit-height {
    height: auto;
    position: static; }
    .section.limit-height .wrap {
      position: static;
      transform: translate(0%, 0%); } }

/*
   Limit-width
   ========================================================================== */
.section.limit-width .wrap {
  max-width: 600px; }

/* ==========================================================================
   Sliders in general
   ========================================================================== */
body .slick-slider {
  opacity: 0 !important;
  transition: 1s opacity ease-in-out; }
  body .slick-slider.slick-initialized {
    opacity: 1 !important; }

/* ==========================================================================
   Fullwidth
   ========================================================================== */
/* ==========================================================================
   Background rotator
   ========================================================================== */
.section.background_rotator {
  width: 100%;
  padding: 0;
  background: black;
  margin: 0; }
  @media (min-width: 768px) {
    .section.background_rotator {
      min-height: 100vh; } }
  .section.background_rotator .slide {
    width: 100%;
    background-position: center center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px; }
    .section.background_rotator .slide .background-div {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background-size: cover;
      background-position: center center;
      filter: grayscale(50%); }
      .section.background_rotator .slide .background-div::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 5; }
    @media (min-width: 768px) {
      .section.background_rotator .slide {
        height: 100vh;
        padding: 0; }
        .section.background_rotator .slide .wrap {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          margin-top: 0; } }
  .section.background_rotator .slick-dots {
    bottom: 30px;
    z-index: 35; }
    .section.background_rotator .slick-dots li button::before {
      color: white;
      font-size: 15px; }

/*
   Limit-height
   ========================================================================== */
.section.background_video.limit-height {
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px; }
  @media (max-width: 767px) {
    .section.background_video.limit-height {
      padding-top: 30px;
      padding-bottom: 30px; } }
  .section.background_video.limit-height .wrap {
    position: relative;
    transform: translate(0%, 0%);
    top: auto;
    left: auto; }

/* ==========================================================================
   Background Video
   ========================================================================== */
/*
   Structure
   ========================================================================== */
.section.background_video {
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: block; }

.section.background_video {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }
  .section.background_video .wrap {
    position: absolute;
    z-index: 10;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .section.background_video h1,
  .section.background_video h2,
  .section.background_video h3 {
    color: white; }
  .section.background_video > video {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3; }
    @media (min-aspect-ratio: 16 / 9) {
      .section.background_video > video {
        height: 300%;
        top: -100%; } }
    @media (max-aspect-ratio: 16 / 9) {
      .section.background_video > video {
        width: 300%;
        left: -100%; } }
    @supports (object-fit: cover) {
      .section.background_video > video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; } }

/*
   Colors
   ========================================================================== */
.section.background_video:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  z-index: 0; }

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none; }

/*
   Limit-height
   ========================================================================== */
.section.background_rotator.limit-height {
  height: auto;
  min-height: 0;
  position: static; }
  .section.background_rotator.limit-height .slide {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px; }
    @media (max-width: 767px) {
      .section.background_rotator.limit-height .slide {
        padding-top: 30px;
        padding-bottom: 30px; } }
    .section.background_rotator.limit-height .slide .wrap {
      position: static;
      top: 0;
      transform: translateY(0%); }

/* ==========================================================================
   Featured items
   ========================================================================== */
.section.featureditems {
  position: relative; }
  .section.featureditems.align-center {
    text-align: center; }
  .section.featureditems .featuredcontent {
    margin-bottom: 55px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 768px) {
      .section.featureditems .featuredcontent {
        max-width: 600px; } }
  .section.featureditems .items {
    flex-flow: row wrap;
    justify-content: center;
    display: flex;
    margin: 0 -15px -40px; }
    .section.featureditems .items .item {
      flex: 1;
      padding: 0 15px;
      margin-bottom: 40px;
      flex: 0 0 100%;
      font-size: 15px;
      line-height: 1.3em;
      max-width: 360px;
      transition: .3s all ease; }
      @media (max-width: 767px) {
        .section.featureditems .items .item {
          padding: 0 10px; } }
      @media (min-width: 768px) and (max-width: 1199px) {
        .section.featureditems .items .item {
          flex: 0 0 50%; } }
      @media (min-width: 1200px) {
        .section.featureditems .items .item {
          flex: 0 0 33.3%; } }
      .section.featureditems .items .item img {
        margin-bottom: -6px; }
    @media (min-width: 1200px) {
      .section.featureditems .items.force-four-columns .item {
        flex: 0 0 25%; } }
    .section.featureditems .items .flex-featured-image,
    .section.featureditems .items .embed-container {
      margin-bottom: 15px; }
  .section.featureditems .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto; }
  .section.featureditems .embed-container iframe,
  .section.featureditems .embed-container object,
  .section.featureditems .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* ==========================================================================
   Featured 3 col
   ========================================================================== */
.section.featured_3col.align-center {
  text-align: center; }

.section.featured_3col .container-3col {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row; }
  @media (max-width: 767px) {
    .section.featured_3col .container-3col {
      padding-top: 20px; } }
  .section.featured_3col .container-3col .column {
    flex: 29% 0 0;
    background-color: #333;
    color: white;
    margin-left: 2%;
    margin-right: 2%; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .section.featured_3col .container-3col .column {
        flex: 46% 0 0;
        margin-bottom: 35px; } }
    @media (max-width: 767px) {
      .section.featured_3col .container-3col .column {
        flex: 100% 0 0;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0; } }
    .section.featured_3col .container-3col .column:last-child {
      margin-bottom: 0; }
    .section.featured_3col .container-3col .column p {
      font-size: 16px;
      line-height: 1.4em;
      margin-bottom: 10px; }
    .section.featured_3col .container-3col .column a {
      color: white;
      text-decoration: none; }
    .section.featured_3col .container-3col .column .content {
      margin-bottom: 10px; }
  .section.featured_3col .container-3col .logo-image {
    text-align: center;
    position: relative;
    min-height: 300px;
    background-size: cover;
    background-position: center center; }
    @media (max-width: 767px) {
      .section.featured_3col .container-3col .logo-image {
        min-height: 175px; } }
    .section.featured_3col .container-3col .logo-image img {
      bottom: 40px;
      position: absolute;
      left: 0;
      margin-left: 50%;
      transform: translateX(-50%);
      z-index: 10; }
  .section.featured_3col .container-3col .logo-image:before {
    content: "";
    position: absolute;
    bottom: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 16px solid red;
    border-color: transparent transparent #333333 transparent;
    display: block;
    z-index: 15; }
  .section.featured_3col .container-3col .logo-image:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 5;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: -moz-linear-gradient(top, transparent 30%, rgba(0, 0, 0, 0.6) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, transparent 30%, rgba(0, 0, 0, 0.6) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.6) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .section.featured_3col .container-3col .content-container {
    padding: 30px; }

.flexible-content-page-builder .site-inner .threecol-25-50-25 .wrap {
  max-width: 1300px; }

.flexible-content-page-builder .site-inner .threecol-25-50-25 p:last-child {
  margin-bottom: 15px; }

.threecol-25-50-25 .header-content {
  text-align: center;
  margin-bottom: 65px; }
  .threecol-25-50-25 .header-content p {
    font-size: 20px; }

.threecol-25-50-25 .one-fourth h2,
.threecol-25-50-25 .one-fourth h3 {
  padding-top: 20px;
  margin-bottom: 10px; }

.threecol-25-50-25 .one-fourth h2:first-of-type,
.threecol-25-50-25 .one-fourth h3:first-of-type {
  padding-top: 0; }

.threecol-25-50-25 .one-half {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px; }

.threecol-25-50-25 p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.3em; }
  .threecol-25-50-25 p:last-child {
    margin-bottom: 15px; }

/* ==========================================================================
   Checkerboard sections
   ========================================================================== */
.flexible-content-page-builder .section.checkerboard:nth-of-type(odd),
.flexible-content-page-builder .section.checkerboard:nth-of-type(even) {
  background-color: white; }

.flexible-content-page-builder .section.checkerboard {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch; }
  @media (max-width: 767px) {
    .flexible-content-page-builder .section.checkerboard {
      flex-direction: column; } }
  .flexible-content-page-builder .section.checkerboard .checkerboard-image,
  .flexible-content-page-builder .section.checkerboard .checkerboard-content {
    flex: 0 0 50%; }
    @media (max-width: 767px) {
      .flexible-content-page-builder .section.checkerboard .checkerboard-image,
      .flexible-content-page-builder .section.checkerboard .checkerboard-content {
        flex: 0 0 100%; } }
  .flexible-content-page-builder .section.checkerboard .checkerboard-image {
    min-height: 300px;
    background-size: cover;
    background-position: center center; }
  .flexible-content-page-builder .section.checkerboard .checkerboard-content {
    padding-top: 50px;
    padding-bottom: 50px; }
    @media (min-width: 768px) {
      .flexible-content-page-builder .section.checkerboard .checkerboard-content {
        padding-top: 100px;
        padding-bottom: 100px; } }
  .flexible-content-page-builder .section.checkerboard .content-wrap {
    padding-left: 50px;
    padding-right: 50px; }
    @media (min-width: 768px) {
      .flexible-content-page-builder .section.checkerboard .content-wrap {
        max-width: 700px;
        padding-left: 100px;
        padding-right: 100px; } }

@media (min-width: 768px) {
  .section.checkerboard.left {
    flex-direction: row-reverse; }
    .section.checkerboard.left .content-wrap {
      float: right; } }

/*
   Checkerboard-wide
   ========================================================================== */
@media (min-width: 768px) {
  .section.checkerboard.checkerboard-wide .content-wrap {
    max-width: 1000px; } }

.section.checkerboard.checkerboard-wide .checkerboard-content {
  padding-top: 50px;
  padding-bottom: 50px; }

.section.checkerboard.checkerboard-wide .content-wrap {
  padding-left: 50px;
  padding-right: 50px; }

@media (min-width: 768px) and (max-width: 1199px) {
  .section.checkerboard.checkerboard-wide {
    flex-direction: column; }
    .section.checkerboard.checkerboard-wide .checkerboard-image,
    .section.checkerboard.checkerboard-wide .checkerboard-content {
      flex: 0 0 100%; }
    .section.checkerboard.checkerboard-wide .checkerboard-content {
      padding: 50px 0; }
    .section.checkerboard.checkerboard-wide .content-wrap {
      width: 100%;
      max-width: 100%;
      padding: 0 50px; } }

/* ==========================================================================
   Testimonials home page slider
   ========================================================================== */
/*
   Default styles
   ========================================================================== */
.flexible-content-page-builder .section.testimonials_slider .wrap {
  max-width: 100%;
  padding: 0; }

#testimonial-slider .slick-slide {
  padding: 50px 20px 0;
  text-align: left; }
  #testimonial-slider .slick-slide:focus {
    outline: none !important; }
  #testimonial-slider .slick-slide small a {
    color: red; }
  #testimonial-slider .slick-slide small {
    display: block; }

#testimonial-slider .post-content {
  background-color: white;
  color: black;
  padding: 20px 25px;
  margin-bottom: 20px;
  position: relative;
  line-height: 1.5em;
  font-size: 16px;
  border-radius: 10px; }

#testimonial-slider .post-content::after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 50px;
  border: 10px solid white;
  border-color: white transparent transparent transparent; }

/* ==========================================================================
   Trust Building Snippets
   ========================================================================== */
.flexible-content-page-builder .section.trust_building_snippets {
  padding-top: 10px;
  padding-bottom: 10px; }
  .flexible-content-page-builder .section.trust_building_snippets .contents-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    text-align: center; }
    @media (max-width: 767px) {
      .flexible-content-page-builder .section.trust_building_snippets .contents-container {
        flex-direction: column; } }
    .flexible-content-page-builder .section.trust_building_snippets .contents-container .snippet-content {
      flex: 20% 0 0;
      text-align: center;
      display: block; }
      @media (min-width: 768px) and (max-width: 1199px) {
        .flexible-content-page-builder .section.trust_building_snippets .contents-container .snippet-content {
          flex: 33% 0 0 !important; } }
      .flexible-content-page-builder .section.trust_building_snippets .contents-container .snippet-content p {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 1.4em; }
        .flexible-content-page-builder .section.trust_building_snippets .contents-container .snippet-content p:last-child {
          margin-bottom: 0; }
        .flexible-content-page-builder .section.trust_building_snippets .contents-container .snippet-content p img,
        .flexible-content-page-builder .section.trust_building_snippets .contents-container .snippet-content p img.alignnone {
          margin-bottom: 0; }
    .flexible-content-page-builder .section.trust_building_snippets .contents-container .snippet-padding {
      padding: 20px; }
  .flexible-content-page-builder .section.trust_building_snippets .contents-container.thre .snippet-contente {
    flex: 33% 0 0; }
  .flexible-content-page-builder .section.trust_building_snippets .contents-container.four .snippet-content {
    flex: 25% 0 0; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .flexible-content-page-builder .section.trust_building_snippets .contents-container.four .snippet-content {
        flex: 50% 0 0 !important; } }
  .flexible-content-page-builder .section.trust_building_snippets .contents-container.five .snippet-content {
    flex: 20% 0 0; }
