$light: #f1f1f1;

$mobile-width-section: 767px;
$tablet-width-section: 768px;
$desktop-width-section: 1200px;

@mixin mobile-section {
	 @media (max-width: #{$mobile-width-section}){
		@content;
	}
}

@mixin tablet-section {
	 @media (min-width: #{$tablet-width-section}) and (max-width: #{$desktop-width-section - 1px}){
		@content;
	}
}

@mixin desktop-section {
	 @media (min-width: #{$desktop-width-section}){
		@content;
	}
}

@mixin notmobile-section {
	 @media (min-width: #{$tablet-width-section}){
		@content;
	}
}

@import '_sectiongeneral';
@import 'sections/_slidergeneral';
@import 'sections/_fullwidth';
@import 'sections/_background_rotator';
@import 'sections/_background_video';
@import 'sections/_featureditems';
@import 'sections/_threecol_fourth_half_fourth';
@import 'sections/_checkerboard';
@import 'sections/_testimonial_slider';
@import 'sections/_trust_building_snippets';
