/* ==========================================================================
   Alignment
   ========================================================================== */

/*
   Align-center
   ========================================================================== */

.section.align-center {
    text-align: center;

    @include mobile-section {
        text-align: left;
    }
}

/* Left and right defaults
   ========================================================================== */

.section.fullwidth.align-left,
.section.fullwidth.align-right {
    .wrap {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        .section-content {
            max-width: 600px;
            width: 100%;
        }
    }
}

/* Align-left
   ========================================================================== */

.section.fullwidth.align-left {
    .wrap {
        max-width: 1280px;

        @media (max-width: 1340px) {
            padding-left: 30px;
            padding-right: 30px;
        }

        .section-content {
            margin-left: 0;
            margin-right: auto;
            text-align: left !important;
        }
    }
}

/* Align-right
   ========================================================================== */

.section.fullwidth.align-right {
    .wrap {
        max-width: 1280px;

        @media (max-width: 1340px) {
            padding-left: 30px;
            padding-right: 30px;
        }

        .section-content {
            margin-right: 0;
            margin-left: auto;
            width: auto !important;
            text-align: left !important;

            @include mobile-section {
                text-align: left !important;
            }
        }
    }
}