/*
   Full-height
   ========================================================================== */

.section.full-height {
    display: flex;
    align-items: center;

    @include desktop-section {
        min-height: 100vh;
    }
}

/*
   Limit-height
   ========================================================================== */

.section.limit-height {
    @include desktop-section {
        height: auto;
        position: static;

        .wrap {
            position: static;
            transform: translate(0%, 0%);
        }
    }
}