/*
   Limit-width
   ========================================================================== */

.section.limit-width {
    .wrap {
        max-width: 600px;
    }

    .featuredcontent {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

.section.limit-width.featured_3col {
    .wrap {
        max-width: 1200px;
    }
}

.section.limit-width {
    &.featured_3col {
        .section-content {
            max-width: 600px;
            margin: 0 auto;
        }
    }
}