
/* Background rotator
   ========================================================================== */

.section.background_rotator {
	width: 100%;
	padding: 0;
	background: black;
	margin: 0;

	@include notmobile-section {
		min-height: 100vh;
	}

	.slide {
		width: 100%;
		text-align: center;
		background-position: center center;
		background-size: cover;
		padding-top: 40px;
		padding-bottom: 40px;

		.background-div {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			position: absolute;
			background-size: cover;
			background-position: center center;
			filter: grayscale( 50% );

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgba( black, 0.6 );
				z-index: 5;
			}
		}

		@include notmobile-section {
			height: 100vh;
			padding: 0;

			.wrap {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				margin-top: 0;
				max-width: 800px;
			}
		}

		@extend .section.background-image;
	}

	.slick-dots {
		bottom: 30px;
		z-index: 35;

		li button::before {
			color: white;
			font-size: 15px;
		}
	}

	.slick-slider {

	}

	.slide-content p {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
}
