/* ==========================================================================
   Checkerboard sections
   ========================================================================== */

//* We don't want the background colors alternating by default
.flexible-content-page-builder .section.checkerboard:nth-of-type(odd),
.flexible-content-page-builder .section.checkerboard:nth-of-type(even) {
    background-color: white;
}

.flexible-content-page-builder .section.checkerboard {
    padding: 0;
    display: flex;
    flex-direction: row;

    @include mobile-section {
        flex-direction: column;
    }

    flex-wrap: nowrap;
    align-items: stretch;

    .checkerboard-image,
    .checkerboard-content {
        flex: 0 0 50%;

        @include mobile-section {
            flex: 0 0 100%;
        }
    }

    .checkerboard-image {
        min-height: 300px;
        background-size: cover;
        background-position: center center;
    }

    .checkerboard-content {
        padding-top: 50px;
        padding-bottom: 50px;

        @include notmobile-section {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }

    .content-wrap {
        padding-left: 50px;
        padding-right: 50px;

        @include notmobile-section {
            max-width: 700px;
            padding-left: 100px;
            padding-right: 100px;
        }
    }
}

@include notmobile-section {
    .section.checkerboard.left {
        flex-direction: row-reverse;

        .content-wrap {
            float: right;
        }
    }
}

/*
   Checkerboard-wide
   ========================================================================== */

.section.checkerboard.checkerboard-wide {
    .content-wrap {
        @include notmobile-section {
            max-width: 1000px;
        }
    }
}

.section.checkerboard.checkerboard-wide {

    //* Wide sections need smaller vertical margins
    .checkerboard-content {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    //* Wide sections need smaller horizontal margins
    .content-wrap {
        padding-left: 50px;
        padding-right: 50px;
    }

    //* Wide sections need to collapse sooner
    @include tablet-section {
        flex-direction: column;

        .checkerboard-image,
        .checkerboard-content {
            flex: 0 0 100%;
        }

        .checkerboard-content {
            padding: 50px 0;
        }

        .content-wrap {
            width: 100%;
            max-width: 100%;
            padding: 0 50px;
        }
    }
}
