.section.image {
    padding: 0 !important;

    .overlay {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        inset: 0;
        width: 100%;
        padding: 20px 0;
        text-align: center;

        * {
            color: white;
        }

        &.overlay-top {
            align-items: flex-start;
        }

        &.overlay-bottom {
            align-items: flex-end;
        }
    }

    .image-container picture {
        display: block;
    }

    img.the-image {
        display: block;
        width: 100%;
        height: auto;
    }
}
