.section.image {
    padding: 0 !important;

    .overlay {
        position: absolute;
        width: 100%;
        background: rgba(black, 0.8);
        padding: 20px 0;
        left: 0;
        bottom: 0;

        @include mobile-section {
            display: none;
        }


        * {
            color: white;
        }
    }

    img.the-image {
        margin-bottom: -10px;
    }
}