#scrollspy-nav-container {
	width: 100%;
	padding: 0 !important;

	@include mobile-section {
		display: none;
	}

	#scrollspy-nav {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		align-content: stretch;
		justify-content: center;
		padding: 0;
		margin: 0;
		background-color: #f1f1f1;
		transition: .4s all ease;

		@include notmobile-section {
			&.fixed {
				position: fixed;
				top: 0;
				z-index: 999;
				background-color: rgba( white, 0.95 );
				box-shadow: 0 0 10px 0 rgba( black, 0.15 );
			}
		}


		li {
			flex: 1;
			padding: 0;
			margin: 0;
			min-width: 20%;
			list-style: none;

			@include tablet-section {
				min-width: 33%;
			}

			@include mobile-section {
				min-width: 100%;
			}

			a {
				height: 100%;
				width: 100%;
				font-size: 16px;
				display: block;
				background-color: transparent;
				color: #666;
				padding: 10px 10px;
				text-align: center;
				transition: .4s all ease;
				position: relative;
				line-height: 1em;

				@include tablet-section {
					padding: 5px;
					font-size: 15px;
				}

				@include mobile-section {
					padding: 5px 15px;
					font-size: 15px;
				}

				&.active {
					background-color: rgba( black, 0.05 );
					color: black;
				}
			}
		}

		span.icon-image {
			display: inline-block;
			height: 1em;
			position: relative;
			width: 1em;
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			top: 2px;
			transform: scale( 1.2 );
			margin-bottom: 5px;
			transition: .4s all ease;
		}
	}
}

/* ==========================================================================
   Icons
   ========================================================================== */

/* Icons left
   ========================================================================== */

#scrollspy-nav-container.icons_left {
	span.icon {
		margin-right: 0.4em;
	}
}

/* Icons above
   ========================================================================== */

#scrollspy-nav-container.icons_above {
	span.icon {
		display: block;
		margin-bottom: 5px;
		width: 100%;
		max-height: 1.3em;
		font-size: 1.3em;
		text-align: center;
	}
}

/* Zoom hover effect on hover
   ========================================================================== */

#scrollspy-nav-container #scrollspy-nav a:hover {
	span.icon-image {
		transform: scale( 1.4 );	
	}
}


/* Admin bar fixes
   ========================================================================== */

.admin-bar {
	#scrollspy-nav-container #scrollspy-nav.fixed {
		top: 32px;

		@media( max-width: 782px ) {
			top: 46px;
		}
	}
}

/* ==========================================================================
   Anchors
   ========================================================================== */

.section-anchor {
	display: block;
	margin: -60px 0 0;
	height: 60px;
	visibility: hidden;
}