/* ==========================================================================
   Testimonials home page slider
   ========================================================================== */

/*
   Structure
   ========================================================================== */

/*
   Specific
   ========================================================================== */

.page-template-page-flexible-content .section.testimonials_slider {
    .wrap {
        max-width: 100%;
        padding: 0;
    }
}

#testimonial-slider {
    .slick-slide {
        padding: 50px 20px 30px;

        &:focus {
            outline: none !important;
        }
    }

    .post-content {
        background-color: white;
        color: black;
        padding: 20px 25px;
        margin-bottom: 20px;
        position: relative;
        line-height: 1.5em;
        font-size: 16px;
        border-radius: 10px;
    }

    .post-content::after {
        position: absolute;
        content: "";
        bottom: -20px;
        left: 50px;
        border: 10px solid red;
        border-color: white transparent transparent transparent;
    }
}
