/* ==========================================================================
   Two column
   ========================================================================== */

.flexible-content-page-builder .section.two_column {
    padding-top: 50px;
    padding-bottom: 50px;

    img.alignnone {
        margin: 0;
    }
}

.section.two_column {
    .column-container {
        display: flex;
        flex-flow: nowrap;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-flow: 0 1 auto;

        .column {
            width: 48%;
        }

        @include mobile-section {
            flex-direction: column;

            .column {
                width: 100%;
            }

            .column:nth-child(1) {
                margin-bottom: 20px;
            }
        }
    }
}


@include desktop-section {
    .section.two_column.thirdleft {
        .column-container .column:nth-child(1) {
            width: 32%;
        }

        .column-container .column:nth-child(2) {
            width: 64%
        }
    }

    .section.two_column.thirdright {
        .column-container .column:nth-child(1) {
            width: 64%
        }

        .column-container .column:nth-child(2) {
            width: 32%;
        }
    }

    .section.two_column.halfhalf {
        .column-container .column {
            width: 48%;
        }
    }
}
