/* ==========================================================================
   Two column
   ========================================================================== */

.flexible-content-page-builder .section.two_column {
    padding-top: 50px;
    padding-bottom: 50px;

    img.alignnone {
        margin: 0;
    }
}

.section.two_column {
    .content_above {
        padding-bottom: 25px;
    }

    .content_below {
        padding-top: 25px;
    }

    .column-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row nowrap;

        .column {
            flex: 0 1 auto;
            width: 48%;
        }

        //* Collapse into columns on mobile
        @include mobile-section {
            flex-direction: column;

            .column {
                width: 100%;
            }

            .column:nth-child(1) {
                margin-bottom: 20px;
            }
        }
    }

    //* Set up some base styles for autowidth layouts
    &.autowidth {
        .column-container {
            justify-content: center;
        }

        .column:nth-of-type(1) {
            margin-right: 2%;
        }

        .column:nth-of-type(2) {
            margin-left: 2%;
        }
    }
}

@include desktop-section {
    .section.two_column.autowidth {
        .column-container .column:nth-child(1) {
            width: auto;
        }

        .column-container .column:nth-child(2) {
            width: auto;
        }
    }

    .section.two_column.thirdleft {
        .column-container .column:nth-child(1) {
            width: 32%;
        }

        .column-container .column:nth-child(2) {
            width: 64%;
        }
    }

    .section.two_column.thirdright {
        .column-container .column:nth-child(1) {
            width: 64%;
        }

        .column-container .column:nth-child(2) {
            width: 32%;
        }
    }

    .section.two_column.halfhalf {
        .column-container .column {
            width: 48%;
        }
    }
}


/* ==========================================================================
   .align-top
   ========================================================================== */

.flexible-content-page-builder .section.two_column.align-top {
    .column-container {
        align-items: flex-start;
    }
}

/* ==========================================================================
   .align-bottom
   ========================================================================== */

.flexible-content-page-builder .section.two_column.align-bottom {
    .column-container {
        align-items: flex-end;
    }
}

/* ==========================================================================
   .limit-width
   ========================================================================== */

.flexible-content-page-builder .section.two_column.limit-width {
    .wrap {
        max-width: 100%;

        //* In the specific case when we're using an image with autowidth and limit-width, we're keeping the images constrained
        img,
        .container-lazyload,
        video,
        iframe {
            max-width: 100%;
            width: 700px;
        }

        @include notmobile-section {
            max-width: 1000px;

            //* When we're on desktop, we don't want one column fully taking over the page. So we limit that.
            .column {
                max-width: 65%;
            }
        }


        @include tablet-section {
            max-width: 100%;

            //* When we're on desktop, we don't want one column fully taking over the page. So we limit that.
            .column {
                width: auto;
                max-width: 60%;
            }
        }
    }
}